body{
    background: rgb(17, 17, 17);
}

.header-content{
    text-align: center;
    padding: 40px;
}

.btn {
    position: relative;
    display: inline-block;
    background: transparent;
    border: none;
    background-color: rgb(216, 34, 74);
    color: #fff;
    padding: 30px 50px;
    cursor: pointer;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
}

.btn::before, .btn::after {
    content: '';
    position: absolute;
    background-color: rgb(216, 34, 74);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: -30px;
}

.btn::before {
    left: -30px;
    transform: rotate(-45deg);
}

.btn::after {
    right: -30px;
    transform: rotate(45deg);
}


.cats{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.random_cats{
    width: 40%;
}

img{
    max-width: 700px;
    height: 30rem;
}